<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AlfMabrok{% endblock %}</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    {% block head %}{% endblock %}
</head>
<body class="bg-gray-50 text-gray-900">
    <header class="sticky top-0 bg-white shadow-sm z-50">
    <div class="container mx-auto px-4 py-4">
      <div class="flex items-center justify-between">

        <a href="/" class="flex items-center space-x-2">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/800px-Airbnb_Logo_B%C3%A9lo.svg.png" alt="Logo Airbnb" class="h-8">
        </a>
      </div>
    </div>
  </header>

 
    <main class="container mx-auto py-10 px-6">
        {% block content %}{% endblock %}
    </main>

    
    <footer class="bg-gray-100 text-gray-700 py-6 mt-10 text-center">
        <p>&copy; 2025 AlfMabrok. Tous droits réservés.</p>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
