{# app/views/layouts/admin.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Airbnb Clone</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body class="flex h-screen overflow-hidden">
    {% include "partials/sidebar.twig" %}
    
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>